body {
    background: url("../images/concrete_seamless.png");
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;

}

* {
    box-sizing: border-box;
    margin: 0;
  }

h1 {
    color: #efeee7;
    background: linear-gradient(#333333, #ad3458);
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

a {
    color: #ad3458;
}

.container {
    width: 1024px;
    margin: 0 auto;
    margin-top: 25px;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}

#main-bio {
    width: 75%;
}

#contact-info {
    width: 25%;
    padding-left: 10px;
}

#bio-image {
    margin-right: 20px;
    width: 200px;
    height: 200px;
}

.projects {
    clear: both;

}

#social {
    max-height: 40px;
    max-width: 40px;
}

.auth-image {
    width: 125px;
    height: 125px;
    margin-top: 10px;
    margin-left: 50px;
  }

footer {
    padding-bottom: 10px;
    clear: both;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #666;
    border-top: 10px solid #ad3458;
  }

.projects {
    margin: 0;
    background: url(../images/concrete_seamless.png);
    border: 1px solid #ddd;
  }