body {
    background: #CCC;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

h2 {
    font-size: 24px;    
}

a {
    color: #ad3458;
}

.container {
    width: 1024px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}

#main-bio {
    width: 80%;
}

#bio-image {
    margin-right: 20px;
    width: 200px;
    height: 200px; 
}

#social {
    max-height: 40px;
    max-width: 40px;
    margin: 5px;
}

.auth-image {
    width: 150px;
    height: 130px;
    margin-top: 10px;
    margin-left: 50px;
  }

footer {
    padding-bottom: 10px;
    clear: both;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #666;
    border-top: 10px solid #ad3458;
  }

.projects {
    margin-top: 130px;
    margin-bottom: 25px;
    margin-left: 2.5%;
}

.tile {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    background: transparent; 
    margin: 5px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 240px;
    /* background: linear-gradient(#ad3458, #333); */
    background-image: url(../images/clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

header::before {
    content: '';
    position: fixed;
    top: 240px;
    width: 1000px;
    height: 1000px;
    transform-origin: top left;
    transform: scale(.5);
    border-radius: 50% 0 0 0;
    box-shadow: -400px -45px #333;
}

.menu {
    position: fixed;
    top: 20px;
    right: 5px;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    padding-right: 2vw;
    z-index: 20;
}

.menu ul {
    list-style: none;
    text-align: right;
}

.page {
    padding-left: 35vw;
    background-color: transparent;
    min-height: 200vh;
}

.page .pane .tile{
    /* color:#FFF; */
    position: relative;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10vw;
}

.page .pane img {
    width: 100%;
}

.page .pane:before {
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:-35vw;
    background-color:purple;
    z-index:-10;
}
/* .page .pane:nth-child(4n+1):before {
    background-color:rgb(8, 200, 207);
}
.page .pane:nth-child(4n+2):before {
    background-color:#5D529D;
}
.page .pane:nth-child(4n+3):before {
    background-color:#F7AD63;
}
.page .pane:nth-child(4n+4):before {
    background-color:#2463BC;
} */